<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orange.dao.impl.UserDaoImpl">

	<sql id="Base_Column_list">
		`id`,`name`,`age`,`gmt_create`,`gmt_modified`
	</sql>

	<resultMap id="BaseResultMap" type="com.orange.entity.UserInfoDO">
		<id column="id" property="id" />
		<result property="name" column="name" />
		<result property="age" column="age" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="gmtModified" column="gmt_modified" />
	</resultMap>

	<sql id="set">
        <if test="id != null">
			`id` = #{id},
		</if>
		<if test="name != null">
			`name` = #{name},
		</if>
		<if test="age != null">
			`age` = #{age},
		</if>
		<if test="gmtCreate != null">
			`gmt_create` = #{gmtCreate},
		</if>
		<if test="gmtModified != null">
			`gmt_modified` = #{gmtModified},
		</if>
	</sql>

	<insert id="save" parameterType="com.orange.entity.UserInfoDO">
	    insert user_info
		<set>
			<include refid="set"/>
		</set>
	</insert>

	<update id="update" parameterType="com.orange.entity.UserInfoDO">
		update user_info
        <set>
			<include refid="set"/>
		</set>
        where id = #{id}
	</update>


	<select id="getByName"  resultMap="BaseResultMap">
		select
		<include refid="Base_Column_list"/>
		from user_info
		where `name` = #{name}
	</select>


	<delete id="remove" parameterType="java.lang.Integer">
		delete from user_info
		where id = #{id}
	</delete>
</mapper>
